:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1{
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

h2, p {
  text-align: center;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 1.2rem 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.rent-btn,
.buy-btn {
  background-color: #f5f5f5;
  color: inherit;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  border: 1px solid transparent;
}

.rent-btn.active,
.buy-btn.active {
  background-color: #1e1e1e;
  color: white;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
}

.dropdown-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50px;
}

.dropdown {
  width: 100%;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 10px;
  background: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.view-properties-btn {
  background-color: #1e1e1e;
  color: white;
}

.view-properties-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.property-card {
  width: 25%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 5rem auto;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.property-image {
  position: relative;
  width: 100%;
  height: 150px;
  background: #eee;
  margin: 0;
}

.video-container {
  position: relative;
  width: 100%;
  height: 150px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background: #000;
}

.text-thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.text-thumbnail2 {
  position: absolute;
  bottom: 25%;
  right: 25%;
  color: #000;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.property-details {
  width: 50%;
  /* border: 1px solid #e0e0e0; */
  /* border-radius: 10px; */
  overflow: hidden;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
}

.contact-agent-btn, .back-btn {
  background-color: #1e1e1e;
  color: white;
  margin-bottom: 1rem;
}

.agent-container {
  width: 30%;
  /* border: 1px solid #e0e0e0; */
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
  padding: 1rem;
  box-sizing: border-box;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  background: #eee;
}

.bottom-section {
  width: 100%;
  background: #f5f5f5;
  padding: 2rem 5rem;
}

.contact-container {
  width: 35%;
  /* border: 1px solid #e0e0e0; */
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
  padding: 2rem;
  box-sizing: border-box;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
}

.success-container {
  width: 35%;
  /* border: 1px solid #e0e0e0; */
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  /* box-sizing: border-box; */
}

@media (max-width: 1200px) {
  .dropdown {
    width: 120%;
  }

  .property-card {
    width: 40%;
  }

  .text-thumbnail2 {
      position: absolute;
      bottom: 33%;
      right: 33%;
  }

  .agent-container {
    width: 40%;
  }

  .contact-container {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .dropdown {
    width: 150%;
  }

  .property-card {
    width: 50%;
  }

  .text-thumbnail2 {
      position: absolute;
      bottom: 33%;
      right: 33%;
  }

  .agent-container {
    width: 50%;
  }

  .contact-container {
    width: 40%;
  }

  .success-container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .dropdown {
    width: 180%;
  }

  .property-card {
    width: 50%;
  }

  .text-thumbnail2 {
      position: absolute;
      bottom: 28%;
      right: 28%;
  }

  .property-details {
    width: 60%;
  }

  .agent-container {
    width: 60%;
  }

  .contact-container {
    width: 50%;
  }

  .success-container {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .dropdown {
    width: 200%;
  }

  .property-card {
    width: 50%;
  }

  .text-thumbnail2 {
      position: absolute;
      bottom: 20%;
      right: 20%;
  }

  .property-details {
    width: 80%;
  }

  .agent-container {
    width: 80%;
  }

  .contact-container {
    width: 80%;
  }

  .success-container {
    width: 70%;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
